
body {

    background: url(../img/header-logo-height.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}

.logo-block {
    position: inherit;
    padding-top: 300px;
    margin:0 auto;
    text-align: center;
    height: 900px;

}

/*
.logo-block .pic {
    background-image: url("../img/MV.logoeps.png");
    height: 161px;
    width: 160px;
    margin: auto;
}*/

.logo-block .name p:first-child {
    font-family: "Engravers MT";
    font-size: 50px;
    color: #373735;
}

.logo-block .name p:last-child {
    font-family: "Engravers MT";
    font-size: 30px;
    color: #373735;
}

.best-projects {
    margin-top: 50px;
    background-color: #2c8d3a;
    width: 250px;
    height: 70px;
    border-radius: 30px;
    border: none;
    opacity: 0.9;
}

.main .jumbotron {
    text-align: center;
}

.prices .page-header, .contacts .page-header, .about .page-header, .portfolio .page-header {
    border: none;
    padding-top: 150px;
    height: 300px;
    margin: auto 0;
    text-align: center;
}

.prices .jumbotron, .contacts .jumbotron, .about .jumbotron, .portfolio .jumbotron {
    text-align: center;
    width: 56%;
    margin-left: 22%;
    border-radius: 20px;
    background-color: transparent;
}

.footer {
    margin-top: 100px;
    background-image: url("../img/hairs-fon.png");
    height: 413px;
    width: 100%;
}